@{
    ViewData["Title"] = "About Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>One Page Wonder - Start Bootstrap Template</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/styles2.css" rel="stylesheet" />
    <link href="~/css/styles3.css" rel="stylesheet" />
    <script src="~/js/scripts.js"></script>
</head>

<main class="flex-shrink-0">
    <!-- Header-->
    <header class="py-5">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="../"><img src="~/images/logo.svg" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/Home/Register">Registrarse</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Home/Login">Iniciar Sesion</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Home/About">Acerca de Nosotros</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container px-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5">
                        <h1 class="fw-bolder mb-3">Nuestra mision es facilitar la transmision de conocimientos para todos.</h1>
                        <p class="lead fw-normal text-muted mb-4">Esta plataforma se creo con la idea de poder capacitar a cualquier persona a transmitir su conocimiento. Todos pueden tanto crear cursos y gozar de ellos, con el fin de crear un ciclo de aprendizaje que trasciende generaciones.</p>
                        <a class="btn btn-primary btn-lg" href="#scroll-target">Lee nuestra historia</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About section one-->
    <section class="py-5 bg-light" id="scroll-target">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="~/images/p-intergenerational.png" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Un Problema</h2>
                    <p class="lead fw-normal text-muted mb-0">A lo largo de las generaciones, el conocimiento lentamente se desvanece hasta perderse. Sin embargo, todo problema tiene una solucion, especialmente con la tecnologia.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- About section two-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="~/images/s-teaching.png" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Una Solucion</h2>
                    <p class="lead fw-normal text-muted mb-0">Esta plataforma crecio con el proposito de prevenir ese conocimiento intergeneracional que se pierda. Comienza compartiendo tu conocimiento especial con otras personas. Contribuye a todas las generaciones.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Team members section-->
    <section class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="fw-bolder">Nuestro Equipo</h2>
                <p class="lead fw-normal text-muted mb-5">Dedicados a la calidad y al exito</p>
            </div>
            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="~/images/te_sam.png" alt="..." />
                        <h5 class="fw-bolder">Samuel Acosta</h5>
                        <div class="fst-italic text-muted">Lead Front End Developer &amp; CEO</div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="~/images/te_ale.png" alt="..." />
                        <h5 class="fw-bolder">Alejando Lizarraga</h5>
                        <div class="fst-italic text-muted">Lead Game Developer</div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-sm-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="~/images/te_nico.png" alt="..." />
                        <h5 class="fw-bolder">Nicolas Aguirre</h5>
                        <div class="fst-italic text-muted">Lead Back End Developer</div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="~/images/te_jacky.png" alt="..." />
                        <h5 class="fw-bolder">Jackeline Conant</h5>
                        <div class="fst-italic text-muted">Lead Designer</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</main>