@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <section class="bg-black" style="height:25vh">
            <div>
                <br /><br /><br />
                <p class="text-light" style="font-size:60px;font-weight: 600;line-height: 1px;">iPhone 14 Pro</p>
                <p class="text-light" style="font-size:40px;line-height: 80px;">Se pasa de Pro.</p>
            <a style="font-size:20px;text-decoration: none;" href="https://www.apple.com/mx/?afid=p238%7CsLHHgzTlu-dc_mtid_1870765e38482_pcrid_625202176474_pgrid_15377145411_pntwk_g_pchan__pexid__&cid=aos-mx-kwgo-brand--slid---product-">Más información ></a>
            <a style="font-size:20px;text-decoration: none;" href="https://www.apple.com/mx/?afid=p238%7CsLHHgzTlu-dc_mtid_1870765e38482_pcrid_625202176474_pgrid_15377145411_pntwk_g_pchan__pexid__&cid=aos-mx-kwgo-brand--slid---product-">Comprar ></a>
            
            </div>
        </section>
        <section class="bg-black" style="left:0; right:0;">
            <img src="~/images/iphone14.png" width="43%" />
        </section>
        <section style="height:70vh; background-color:rgba(250,250,250,255)">
            <p style="font-size:50px;font-weight: 700; padding-top:5vh;line-height: 14px;">iPhone 14</p>
            <p style="font-size:25px;">Grande y extragrande.</p>
            <p class="text-muted" style="font-size:20px;line-height: 7px;">iPhone 14 ya disponible.</p>
            <p class="text-muted" style="font-size:20px;line-height: 10px;">iPhone 14 Plus en preventa ahora. Disponible el 14/10</p>
        <a style="font-size:21px;text-decoration: none;" href="https://www.apple.com/mx/?afid=p238%7CsLHHgzTlu-dc_mtid_1870765e38482_pcrid_625202176474_pgrid_15377145411_pntwk_g_pchan__pexid__&cid=aos-mx-kwgo-brand--slid---product-">Más información ></a>
        <a style="font-size:21px;text-decoration: none;" href="https://www.apple.com/mx/?afid=p238%7CsLHHgzTlu-dc_mtid_1870765e38482_pcrid_625202176474_pgrid_15377145411_pntwk_g_pchan__pexid__&cid=aos-mx-kwgo-brand--slid---product-">Comprar ></a><br />
            <img src="~/images/iphone2.png" width="40%" />

        </section >
        <section style="height:20vh"> 

        </section>  

</div>
